###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.cs text eol=lf
*.vb text eol=lf
*.json text eol=lf
*.sql text eol=lf